<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VibraSense-Exercise</title>
    <link rel="stylesheet" href="css/exercise.css" />
    <!-- Linking your new CSS file -->
</head>
<body>
<div class="container">
    <h1>VibraSense</h1>
    <i>where curiosity meets knowledge</i>

    <div class="gradient-background">
        <!-- Search bar and button -->
        <div class="exercise-bar">
            <form id="exerciseForm" action="/exercise" method="get">
                <!-- Form for handling search -->
                <input
                        type="text"
                        id="exerciseAnswer"
                        name="answer"
                        placeholder="Exercise"
                        required
                        autocomplete="off"
                />
                <button
                        type="submit"
                        id="submitAnswer"
                        onclick="submitAnswerToServer()"
                ></button>
            </form>
        </div>

        <!-- Area to display the answer -->
        <div class="exercise-character">
            <!--            TODO: Add the exercise string here-->
            <p id="characterDisplay" th:text="${exerciseCharacters}"></p>
        </div>
    </div>
</div>

<div id="settingsSidebar">
    <h2>Settings</h2>
    <div>
        <span>Current Speed: <span id="currentSpeed">Normal Speed</span></span>
    </div>
    <!-- You can add more settings options here -->
</div>

<div id="popup">Incorrect</div>

<script src="js/exerciseLogic.js"></script>
<script>
    // Set the exercise characters dynamically from the backend
    const characterDisplay = document.getElementById('characterDisplay');
    const exerciseCharacters = characterDisplay.textContent; // Getting the value from the HTML element
    console.log("Fetched exercise characters:", exerciseCharacters);
</script>
</body>
</html>
